.active{
  background-color: #007bff;
}

.nav-link, .dropdown-item{
  color: white !important;
}

.nav-link:hover:not(.active), .dropdown-item:hover{
  background-color: #7952b3;
  color: white !important;
}

.bg-imagem{
  /* para manter a responsividade utilizamos o viewport */
  height: 38vw;
  background-image: url(http://i1.kym-cdn.com/entries/icons/facebook/000/017/204/CaptainAmerica1_zps8c295f96.jpg);
  /* cover define que a imagem de fundo ser치 ajustada para cobrir a 치rea do container */
  background-repeat: no-repeat;
  background-size: cover; 
}

.bg-imagem p{
  text-shadow: 4px 4px 8px black;
  /* para manter a responsividade utilizamos o viewport */
  font-size: 4vw; 
}

.mt-70{
  margin-top: 70px;
}



footer{
  height: 50px;
}

.bg-imagem2{
  /* para manter a responsividaee utilizamos o viewport */
  height: 48vw;
  background-image: url(https://cdn.pixabay.com/photo/2015/01/08/18/24/children-593313_960_720.jpg);
  /* cover define que a imagem de fundo ser치 ajustada para cobrir a 치rea do container */
  background-repeat: no-repeat;
  background-size: cover; 
}